body {
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -350px -500px, 600px 300px;
  background-color: hsl(185, 75%, 39%);
  text-align: center;
  margin: 0;
}
 p { position: relative;
 bottom: 15px;
font-family: Merriweather;
font-size: 10px;
color: #696969;}

h2 {font-family:Merriweather; }

hr {
  position: relative;
  bottom: 30px;
}

.bottom-container {margin: 0;
padding: 0;}

.card-container {
  background: white;
  border-radius: 10px;
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  ;
}

.profile-picture {
  border-radius: 50%;
  border: solid 5px;
  border-color: white;
  position: relative;
  bottom: 50px;
}

.background-card-img {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.background-card {
  border-radius: 20px;
}

h3 {
  font-family: Merriweather;
  position: relative;
  bottom: 50px;
}

h4 {
  font-family: Merriweather;
  position: relative;
  bottom: 60px;
  font-size: 80%;
}

.age-location {
  font-weight: lighter;
  color: #696969;
}

.followers {
  display: inline-block;
  margin-right: 40px;
  position: relative;
  bottom:20px;
}

.likes {
  display: inline-block;
  margin: 0 20px 0 20px;
  position: relative;
  bottom:20px;
}

.photos {
  display: inline-block;
  margin: 0 0 0 40px;
  position: relative;
  bottom:20px;
}

.attribution {position: absolute;
top: 100%;
left:550px;
}
